<mat-card class="container">
  <mat-card-title>Novo Usuário</mat-card-title>
  <form [formGroup]="registerForm">
    <mat-form-field class="name" appearance="outline">
      <mat-label style="font-weight: bold">Nome</mat-label>
      <input
        matInput
        placeholder="Nome"
        id="name"
        formControlName="name"
        name="name"
        [errorStateMatcher]="matcher"
        placeholder="Ex. Rafael Souza"
        autocomplete="off"
        required
      />

      <mat-error *ngIf="registerForm.get('name') && registerForm.get('name')">
        <p *ngIf="registerForm.get('name')?.errors?.required"
          >Nome é <strong>obrigatório</strong>
        </p>
    
        <p *ngIf="registerForm.get('name')?.errors?.minlength">
          Deve ter no mínimo 4 caracteres
        </p>

      </mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline">
      <mat-label style="font-weight: bold">Senha</mat-label>

      <input
        matInput
        placeholder="Senha"
        name="secret"
        formControlName="password"
        type="password"
        [errorStateMatcher]="matcher"
      />

      <mat-error
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
      >
        <p *ngIf="registerForm.get('password')?.errors?.required">
          Senha é <strong>obrigatória.</strong>
        </p>
        <p *ngIf="registerForm.get('password')?.errors?.minlength">
          Deve ter no mínimo 4 caracteres
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="email" appearance="outline">
      <mat-label style="font-weight: bold">Email</mat-label>

      <input
        type="email"
        name="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
        autocomplete="off"
      />

      <mat-error *ngIf="registerForm.get('email') && registerForm.get('email')">
        <p *ngIf="registerForm.get('email')?.errors?.required">
          Email é <strong>obrigatório</strong>
        </p>
        <p *ngIf="registerForm.get('email')?.errors?.email">
          Email deve ser válido.
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline">
      <mat-label style="font-weight: bold">Confirmar Senha</mat-label>

      <input
        matInput
        placeholder="Senha"
        name="secret"
        formControlName="confirmPassword"
        type="password"
        [errorStateMatcher]="matcher"
        
      />

      <mat-error
        *ngIf="
          registerForm.get('confirmPassword')?.invalid &&
          registerForm.get('confirmPassword')?.touched
        "
      >
        <!--<p *ngIf="registerForm.get('confirmPassword')?.errors?.required">Senha é <strong>obrigatória.</strong></p>-->
        <p *ngIf="registerForm.get('confirmPassword')?.errors?.mustMatch">
          Senhas devem ser iguais
        </p>
      </mat-error>
    </mat-form-field>

    <div class="buttons">
      <button
        type="submit"
        mat-raised-button
        (click)="onSubmit()"
        color="primary"
        [disabled]="submitted || !registerForm.valid"
        class="btn"
      >
        Salvar
      </button>

      <button mat-raised-button (click)="cancel()" class="btn">Cancelar</button>
    </div>
  </form>
</mat-card>
