.container {
  width: 100%;
  background-color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: auto;
  box-shadow: 0 0.4rem 0.5rem 0 rgb(189, 203, 247);
}
form {
  width: 100%;
}

.btn {
    display: inline-block;
    top: 4rem;
    
    width: 10rem;
  
    align-items: center;
    align-content: center;
    text-align: center;
  
    left: -1rem;
  
    margin: 0 auto;
     background-color: #EEE;
     border-color: #EEE;
     color: #000;
     padding: .6875rem 1.125rem;
     text-transform: uppercase;
     border-radius: .25rem;
     font-size: .875rem;
     line-height: 1rem;
     cursor: pointer;
     font-weight: 700;
     font-family: Open Sans,sans-serif;
     margin-right: 5px!important;
  }
  
  .btn:hover {
    text-shadow: 0 0 4px rgb(51, 102, 255), 0 0 4px rgb(51, 102, 255) 0;
    opacity: 0.8;
    transition-duration: 0.15s;
  }
