.container {
  margin-top: 0.5rem;
  padding: 0;
  margin-bottom: 8rem;
  box-shadow: 0 0.4rem 0.5rem 0 rgb(189, 203, 247);
}

.full-table {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  overflow-y: hidden;
  border-radius: 5px;
  padding: 0;
}

.title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.search {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  display: grid;
  height: 8rem;
  border-radius: 5px;
  background-color: #fff;
}

.icon {
  font-size: 1rem;
  color: rgb(149, 174, 250);
  display: flex;
  justify-content: center;
  transform: translate(-40%, -20%);
}

.btn {
  width: 1.2rem;
  height: 1.5rem;
  background-color: #36f;
  border-color: #36f;

  border-radius: 0.25rem;

  margin-left: 0.5rem;
}

.btn:hover {
  text-shadow: 0 0 4px rgb(51, 102, 255), 0 0 4px rgb(51, 102, 255) 0;
  opacity: 0.8;

  transition-duration: 0.15s;
}
