.btn {
  display: inline-block;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #36f;
  border-color: #36f;
  color: #fff;
  padding: 0.6875rem 1.125rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  margin-right: 5px !important;
}

.btn:not([disabled]):hover {
  text-shadow: 0 0 4px rgb(51, 102, 255), 0 0 4px rgb(51, 102, 255) 0;
  opacity: 0.8;
  transition-duration: 0.15s;
}

.btn:hover {
  text-shadow: 0 0 4px rgb(51, 102, 255), 0 0 4px rgb(51, 102, 255) 0;
  opacity: 0.8;
  transition-duration: 0.15s;
}
