<mat-card>
  <form [formGroup]="form" >
    <mat-form-field appearance="outline">
      <mat-label style="font-weight: bold">Nova Senha</mat-label>

      <input
        matInput
        placeholder="Senha"
        name="secret"
        formControlName="password"
        type="password"
        [errorStateMatcher]="matcher"
      />

      <mat-error
        *ngIf="
        form.get('password')?.invalid &&
          form.get('password')?.touched
        "
      >
        <p *ngIf="form.get('password')?.errors?.required">
          Senha é <strong>obrigatória.</strong>
        </p>
        <p *ngIf="form.get('password')?.errors?.minlength">
          Deve ter no mínimo 4 caracteres
        </p>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label style="font-weight: bold">Confirmar Nova Senha</mat-label>

      <input
        matInput
        placeholder="Senha"
        name="secret"
        formControlName="confirmPassword"
        type="password"
        [errorStateMatcher]="matcher"
      />

      <mat-error
        *ngIf="
        form.get('confirmPassword')?.invalid &&
        form.get('confirmPassword')?.touched
        "
      >
        <!--<p *ngIf="registerForm.get('confirmPassword')?.errors?.required">Senha é <strong>obrigatória.</strong></p>-->
        <p *ngIf="form.get('confirmPassword')?.errors?.mustMatch">
          Senhas devem ser iguais
        </p>
      </mat-error>
    </mat-form-field>

    <div class="buttons">
        <button mat-raised-button (click)="onSubmit()" class="btn" [disabled]="submitted || !form.valid">
          Salvar
        </button>
    
        <button mat-raised-button (click)="dismiss()" class="btn" >
          Voltar
        </button>
      </div>
  </form>
</mat-card>
